.first_container{
    background-image: url("https://t3.ftcdn.net/jpg/05/13/59/72/360_F_513597277_YYqrogAmgRR9ohwTUnOM784zS9eYUcSk.jpg");
    height: 100vh;
}

.header{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}
.homework_todo{
    height: 35px;
    width: 250px;
    border-radius: 5px;
    font-size: 20px;
}
.btn{
    display: flex;
    flex-direction: row;
    background-color: blue;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

.trabajos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
/*     background-color: beige; */
    height: 90vh;
}
.work{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    align-items: center;
    width: 480px;
    height: 100%;
}


.tarea_container{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tareas {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px; 

}
.btn_process{
    display: flex;
    font-size: 15px;
    align-items: center;
}